%nav#navigation
  %table
    
    %tr
      %td
        %a(href="/resume") Resume
      %td
        %a(href="/portfolio") Portfolio
      %td
        %a(href="/pages") Pages
     
        
    %tr
      %td
        %a(href="http://ca.linkedin.com/pub/uri-gorelik/1b/ba5/282" target="_blank") LinkedIn
      %td
        %a(href="https://bitbucket.org/ugorelik/" target="_blank") My Repo
      %td
        %a(href="/contact") Contact
      