%table
  %tr
    %td{:style => "text-decoration:underline"} Uri Gorelik
  %tr
    %td Class: Jack of all Shebangs!
  %tr
    %td Skills: +7 Optimism, +8 Passion


:markdown
  Working at Riot has been a desire of mine ever since I first started applying for positions in my first year of University. It has always been one of those, “Yeah, that’d be great. But there’s nothing I can do for them.” As I said, it was my first year of university, and I was in the game development stream, so anything outside of game development was just fluff for me at the time.

  As the years progressed I started to realize that I liked game development, but I started to like the general process of software development more. It didn’t matter if I was working on a game. I liked the feeling of delivering something or creating small suites to help me program better. I also usually ended up taking the role of the leader in most of my group projects. I would know the people I worked with, I would know their strengths and weaknesses and delegate accordingly. I also started having the urge to develop everything I did to be cross-platform; it was important for my work to be available to as many people as possible.

  When I was looking through the available positions, I stumbled upon one that caught my eye: DevOps. I think my jaw was open the entire time I was reading the description. All I could think was, “This is what I’m meant to do.” Ruby, Rails, C*, Java? Check. Every other listed technology, Groovy/Grails, Capistrano, Rake, Awk, etc. are all technologies that I’m incredibly interested in using more or learning. And then I kept reading. Leadership, culture, passion. I never thought I would see these kind of requirements for a software engineering position. 

  I’ve always considered myself to be a pretty good leader, but that was reinforced when I was selected to take part in this years Mindtrust program. A program where 30 students, who are already leaders, are selected from the University to be trained to lead. We are fortunate enough to spend time with some of the most influencing CEO’s from our city and to learn what truly makes a leader.

  This is an application for the DevOps Software Engineer position. I’m a third year Carleton University student driven by passion and a desire to do better. How would I help Riot? Easy, I would do my job: increase profit by decreasing overhead, increasing efficiency and influencing the people around me to be the best they can.

  Special Ability: “We Sing Together we Win Together”
  Uri boosts the morality of his nearby allies, removing all negative effects and increasing productivity by 50%.