%nav#navigation
  %table
    
    %tr
      %td
        %a(href="/resume") Resume
      %td
        %a(href="/projects") Projects
        
    %tr
      %td
        %a(href="/portfolio") Portfolio
      %td
        %a(href="/pages") Pages