<nav id="navigation">
	<table>
		<tr>
			<td><a href="/resume">Resume</a></td>
			<td><a href="/projects">Projects</a></td>
		</tr>

		<tr>
			<td><a href="/portfolio">Portfolio</a></td>
			<td><a href="/pages">Pages</a></td>		
		</tr>
	</table>
</nav>