%nav#navigation
  %table
    
    %tr
      %td
        %a(href="/resume") Resume
      %td
        %a(href="/projects") Projects
      %td
        %a(href="/pages") Pages
        
    %tr
      %td
        %a(href="/portfolio") Portfolio
      %td
        %a(href="/workterms") Work Terms
        

      %td
        %a(href="https://bitbucket.org/ugorelik/") My Repo