
:markdown
  Hello, my name is Uri and I'm a Computer Science student at Carleton University in Ottawa, Ontario Canada. I've finished my first two co-op terms with **NAV Canada** and **Reasearch in Motion**. I'm currently working with **Netgen** on one of their upcoming project: [Wingman](http://shopwingman.com/) while going to university full-time. 

  Here you'll find my resume, portfolio and the current projects that I'm working on! Also please be aware that I am still adding content to this site, for instance the portfolio page is incomplete at the moment.

  This website uses Ethans Schoover's [Solarized](http://ethanschoonover.com/solarized) colour scheme.

- for i in 1..4 do
  = "<br />"