
%p 
  Hello, my name is Uri and I'm a Computer Science student at Carleton University in Ottawa, Ontario Canada. I've finished my first two co-op terms with NAV Canada and Reasearch in Motion. I'm currently working with Netgen on one of their upcoming project
  
  %a(href="http://shopwingman.com/" target="_blank") Wingman 
  
  and I'm a full-time student. My current course load includes robotics, programming paradigms, mobile dev., 

%p 
  Here you'll find my resume, portfolio and the current projects that I'm working on! Also please be aware that I am still adding content to this site, for instance the portfolio page is incomplete at the moment.

%p 
  And just a little caveat to be clear on the difference between the Projects page and the Portfolio page. The Projects page is where I list the things I am currently working on. They are usually things that I do in my spare time. The Portfolio page will hold all the projects I've worked on, be it for school or work. It will also contain projects that I have completed or projects that I am not currently working on.

- for i in 1..5 do
  = "<br />"