
:markdown
  Hello, my name is Uri and I'm a Computer Science student at Carleton University in Ottawa, Ontario Canada. I've finished my first two co-op terms with **NAV Canada** and **Research in Motion**. I'm currently working with **Health Wave** as a Web Developer for [NDStorefront](http://ndstorefront.com) and [Vitamonthly](http://vitamonthly.ca).

  Here you'll find my resume, portfolio and the current projects that I'm working on! Also please be aware that I am always adding content.
  
  I've also written a [white paper](pages/reaver-wps-threat-analysis) on the Reaver WPS attack recently, you should read it.

  This website uses Ethans Schoover's [Solarized](http://ethanschoonover.com/solarized) colour scheme.

- for i in 1..4 do
  = "<br />"