!!!
%html{ :lang => "en"}
  %head
    == <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    == <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    == <meta name="keywords" content="Uri Gorelik Resume" />
    == <meta name="description" content="Uri's Resume" />
    == <meta name="author" content="Uri Gorelik" />

    %link{:href => "/css/style.css", :rel => "stylesheet", :type => "text/css"}
    
    %title=@title
    
    %script{ :type => "text/javascript"}
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-28169701-1']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    
    
  %body
    %header
      %h1#title
        %a(href='/')
          Welcome to Uri
        
      =haml :_navigation
  
    #main-container
      -if @header != ""
        = "<h1 class='title'>#{@header}</h1>"
      
      =yield
    
    %footer
      #footer
        %ul
        
          %li
            %a(href="/contact")
              %h1 Contact
              
          %li
            %a(href="http://twitter.com/#!/UriGorelik" target="_blank")
              %h1 Twitter