<p><a href="files/mac-tips.txt">Click here</a> for text version.</p>

<h2>Basics</h2>

<h3>Swiping</h3>

<p>Four finger swipe up to see your desktop.</p>
<p>Four finger swipe down to see all of your open windows, that aren't open.</p>

<h3>Switching Spaces</h3>

<p>[control] + [left or right arrow key].</p>

<h3>Minimizing/Hiding</h3>

<p>On a mac you can hide and minimize. Hiding hides the application, you can show it again by alt tabbing to it. Minimizing puts an application to the bottom of a four finger swipe down. You cannot alt tab to a minimized tab. You either have to find it on your bar near the right or four finger swipe down and open it from there.</p>

<h3>Alt 'Tilding'</h3>

<p>Alt-Tabbbing only switches between distinct applications. If, for example, you have multiple firefox windows open, to switch between them you would use [alt] + [grave] (the key above tab ~).</p>

<h3>Ejecting</h3>

<p>To eject a disc either HOLD down the eject button or drag the CD (which should be on your desktop) into the trash.</p>

<h3>Preview Files</h3>

<p>To quickly look at a file without opening it and launching the corresponding program to open it, press [space] while the file is selected.</p>




<h2>Shortcuts</h2>

<h3>Opening any application quickly</h3>

<p>Use spot light. [command] + [space] then type in the name of the application (or part of it) and hit enter.</p>


<h3>Quickly opening a Finder (Explorer Window)</h3>

<p>Alt tab to finder and press [command]+[n].</p>


<h3>Opening the Properties window for a File</h3>

<p>Select a file and press [command] + [i].</p>



<h2>Very Useful and Pretty Much Necessary Addons</h2>

<h3><a href="http://growl.info/" target="_blank">Growl</a></h3>

<p>A pop-up window that displays events. Almost every program uses, you'll probably end up installing it from something else.</p>


<h3><a href="http://www.jitouch.com/index.php?page=jitouch" target="_blank">Jit-Touch</a></h3>

<p>Adds a lot of extra finger gestures, mostly useful for firefox and opening/closing tabs.</p>


<h3><a href="http://hyperdock.bahoom.de/" target="_blank">Hyper-Dock</a></h3>

<p>This adds the ability to quickly resize windows faster. It also lets you move windows by placing your mouse over the window and holding down [control] + [alt] and then moving the mouse. You can resize windows by holding [shift]+[control]+[alt]. If you press [control]+[alt]+[arrow key] it pops the window to a side.</p>

