:markdown

  [Best Terminal Theme Ever](pages/best-terminal-theme-ever)

  [Reaver WPS Threat Analysis](pages/reaver-wps-threat-analysis)

  [Mac Tips for Windows Users](pages/mac).
  
  [The Factory Pattern, Or at Least My Interpretation](pages/factory)



%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br