:markdown
  ## EDUCATION
  
  ### Carleton University, Ottawa Ontario
  
  Bachelor of Computer Science, Game Development and Mobile Applications, with Co-op

  * Previously known GPA: 10.8/12 (3.6)
  * A.D. Dunton Scholarship
  * Planned graduation year: 2014

  ## Availability
  Available for a 4 month term starting Summer 2012.
  
  -----
  
  ## HIGHLIGHTS OF QUALIFICATIONS/SKILLS PROFILE 
  
  * Run JOYBLIND, a gaming website. Went to E3 2010 as press/media.
  * Leadership skills via managing JOYBLIND and Mindtrust 2012.
  * Multilingual. Fluent in French and English. Can speak Russian.
  
  ### Languages
  Caveat: I'm a strong believer that a programmer is not defined by the languages he knows but rather what he has done with them.

%table.skills-table
  %tr
    %td
      %h4 Advanced
    %td
      %h4 Intermediate
    %td
      %h4 Novice
    %td
      %h4 Learning/Interested
  %tr
    %td Ruby
    %td Rails
    %td Objective-C
    %td Web(AJAX, JQuery, WebGL)
  %tr
    %td Java
    %td Sinatra
    %td PHP
    %td Scala
  %tr
    %td C/C++
    %td JavaScript
  %tr
    %td HTML/CSS
    %td C#
    
    
    
    
:markdown  
  ------

  ## WORK EXPERIENCE
  
%table
  %tr
    %td.bold Tablet Delivery Developer (C/C++)
  %tr
    %td.italic_under Research in Motion
  %tr
    %td September 2011 - December 2011

:markdown
  * Part of the delivery team: oriented to aid other teams and deploy product.
  * Created DOM and SAX wrapper for APN management based off of libxml2 in C.
  * Created suits to automate several of my tasks.
  * Updated information resources, enabling team to have quick references.
  * Many miscellaneous tasks.
  

  -------
  
%table
  %tr
    %td.bold Surveillance (Radar) Programmer (C++)
  %tr
    %td.italic_under Nav Canada
  %tr
    %td May 2011 - September 2011

:markdown
  * Managed a suite of 11 tools ranging from different functionality.
    * Radar sim., displays data recordings.
    * Players used to stream data to radar sim.
  * Create tools on the fly for others and myself.
  * Bug hunter/slayer.
  
  ------

%table
  %tr
    %td.bold Customer Support Programmer (Java)
  %tr
    %td.italic_under DragonWave Inc.
  %tr
    %td May 2010 – August 2010

:markdown
  * Lead Programmer for “Configuration Generator.”
    * A client specifically engineered for the company’s largest client Clearwire.
  * Helped maintain its stability and added functionality.
  * Learned about Micro packet transfers, wavelengths, SNMP, SNTP.
  * Worked on a separate client based on GWT (Google Web Toolkit).
  * Helped layout the framework for a future project.
  * Helped test main company program “Merlin”. One of DragonWave’s main clients (Perl based)

  --------
  
%table
  %tr
    %td.bold Editor in Chief, Head Coder, Webmaster (Various)
  %tr
    %td.italic_under JOYBLIND Media
  %tr
    %td November 2009 - Present
    
:markdown
  * Developed layout of website from the ground up.
  * Integrated several JavaScript functionalities (aesthetical and practical).
  * Manage four writers/bloggers resulting in leadership skill acquisition.
  * Created a Java based applications that facilitated the “posting” of new articles for non-html familiar users.
  * Recognized by other members of the press and industry.
  
  ------


  ## APPLIED PROJECTS
  
    See [Portfolio](/portfolio) for more. 

  ### MDNotes
  **MDNotes** is a Ruby gem I created to help me take notes using markdown. It creates a directory structure in the current path. After some markdown files have been created, they can be "compiled" to *html* and published to *pdf*.

  ###  Data Structures

  Worked on several different types of data structures and thoroughly understood their implementation such as: rootish-array-stacks, heaps, “treaps”, BSTs, RBSTs, hash tables/maps, scapegoat trees and many more.

  ###  JOYBLIND Poster

  The JOYBLIND Poster is a tool for JOYBLIND.com that facilitates the posting/creation of new content. It hides the somewhat complex process of creating an HTML page to a novice user and allows anyone with basic computer skills to easily create new content. The program actually consists of two parts, a launcher and the client. The launcher adds a self-updating feature by checking for an update. If an update is found it then proceeds to download the latest version from a directory or if the current version is up to date it simply launches the available client. Some key processes include:

  *  Pulls live content from the server
  *  Formats and inserts text (according to proper HTML standards)
  *  Creates and updates proper XML files
  *  Formats posts/articles to required specifications
  *  Self-updating

  ------

  ## EXTRA CURRICULAR ACTIVITIES
  
  Avid gamer, love everything to do with the gaming culture. Like to write opinion and news related articles. Play squash and love to cycle.

  ------
  
  ## GRADES

%table.fancy
  %tr
    %td Course Number
    %td Course Name
    %td Letter Grade
  %tr
    %td Year Three
    %td
    %td
  %tr
    %td COMP 3203
    %td Principles of Networking
    %td A
  %tr
    %td COMP 2601
    %td Mobile Applications
    %td In progress
  %tr
    %td COMP 3007
    %td Programming Paradigms
    %td In progress
  %tr
    %td COMP 3804
    %td Design and Analysis of Algorithms I
    %td In progress
  %tr
    %td COMP 4203
    %td Wireless Networks and Security
    %td In progress
  %tr
    %td Year Two
    %td
    %td
  %tr
    %td MATH 2107
    %td Linear Algebra II
    %td A-
  %tr
    %td ALDS 2203
    %td Linguistic Theory and Second-Language Learning
    %td A
  %tr
    %td STAT 2605
    %td Probability Models
    %td A
  %tr
    %td COMP 2402
    %td Abstract Data Types and Algorithms
    %td A+
  %tr
    %td COMP 2805
    %td Introduction to the Theory of Computation
    %td B
  %tr
    %td COMP 2501
    %td Computer Game Design and Development
    %td A+
  %tr
    %td COMP 1601
    %td Introduction to Mobile Application Development
    %td A
  %tr
    %td COMP 2404
    %td Programming in C++
    %td A
  %tr
    %td COMP 2003
    %td Computer Organization
    %td A-
  %tr
    %td COMP 2405
    %td Internet Application Programming
    %td A+
  %tr
    %td Year One
    %td
    %td
  %tr
    %td COMP 1405
    %td Introduction to Object-Oriented Programming
    %td A+
  %tr
    %td COMP 1501
    %td Introduction to Computer Game Design
    %td B+
  %tr
    %td COMP 1805
    %td Discrete Structures
    %td B
  %tr
    %td COMP 1402
    %td Introduction to Systems Programming
    %td A
  %tr
    %td COMP 1406
    %td Design and Implementation of Computer Applications
    %td A+
  %tr
    %td MATH 1007
    %td Elementary Calculus I
    %td A-
  %tr
    %td MATH 1104
    %td Linear Algebra for Engineering or Science
    %td B
  %tr
    %td LALS 1100
    %td The Mysteries of Language
    %td A- 
