%p
  #resume
    %h2 EDUCATION
    %p Bachelor of Computer Science, Game Development and Mobile Applications, with Co-op
    %p.indent Carleton University, Ottawa Ontario

    %br
    
    %ul
      %li Previously known GPA: 10.8/12
      %li A.D. Dunton Scholarship
      %li Planned graduation year: 2014

    %h2 Availability
    
    %p Available for and 4 month term starting fall 2011.

    %h2 HIGHLIGHTS OF QUALIFICATIONS/SKILLS PROFILE

    %p Knowledge of several computer language including

    %ul
      %h3 Advanced
      %li Java
      %li C/C++
      %li Web (HTML, CSS)

      %h3 Intermediate
      %li Objective-C
      %li Web (JS)
    
      %h3 Novice
      %h3 Objective-C
      %h3 PHP
      %li C#
    
      %h3Learning
      %li Web(AJAX, JQuery, WebGL)
      %li Ruby
      %li Ruby on Rails
      %li Sinatra
      %li DirectX
      
    
  
      %br
      %p Run a gaming website. Went to E3 2010 as press/media.
      %p Multilingual. Fluent in French and English. Can speak Russian.

      %h2 WORK EXPERIENCE

      %pre
        :preserve 
          Surveillance (Radar) Programmer                         May 2011 - Present
          Nav Canada

          • Software Developer.
          • Manage and update programs used in Canadian flight towers.
          • Create tools on the fly for others and myself.
          • Bug hunter/slayer.


          Editor in Chief, Head Coder, Webmaster                        November 2009 - Present
          JOYBLIND Media

          • Developed layout of website from the ground up.
          • Integrated several JavaScript functionalities (aesthetical and practical).
          • Manage three writers/bloggers resulting in leadership skill acquisition.
          • Created a Java based applications that facilitated the “posting” of new articles for non-html familiar users.
          • Recognized by other members of the press and industry.


          Customer Support Programmer                       May 2010 – August 2010
          DragonWave Inc.
          Ottawa, Ontario

          • Lead Programmer for “Configuration Generator.”
          • A client specifically engineered for the company’s largest client Clearwire.
          • Helped maintain its stability and added functionality.
          • Learned about Micro packet transfers, wavelengths, SNMP, SNTP.
          • Worked on a separate client based on GWT (Google Web Toolkit).
          • Helped layout the framework for a future project.
          • Helped test main company program “Merlin”. One of DragonWave’s main clients (Perl based)

      %h2 CURRENT PROJECTS

      %p Remaking my <a href="joyblind.com">static website</a> using <a href="joyblind.heroku.com">Rails</a>. Sadly as of writing this there is not much to see.
  
      %br
  
      %p Continuation of school game development project. Fixing bugs, adding new features. Project was made with C++ and DirectX.

      %h2 APPLIED PROJECTS

      %h3 Data Structures

      %p Worked on several different types of data structures and thoroughly understood their implementation such as: rootish-array-stacks, heaps, “treaps”, BSTs, RBSTs, hash tables/maps, scapegoat trees and many more.

      %h3 JOYBLIND Poster

      %p The JOYBLIND Poster is a tool for JOYBLIND.com that facilitates the posting/creation of new content. It hides the somewhat complex process of creating an HTML page to a novice user and allows anyone with basic computer skills to easily create new content. The program actually consists of two parts, a launcher and the client. The launcher adds a self-updating feature by checking for an update. If an update is found it then proceeds to download the latest version from a directory or if the current version is up to date it simply launches the available client. Some key processes include:

      %br 
      %ul
      
        %li Pulls live content from the server
        %li Formats and inserts text (according to proper HTML standards)
        %li Creates and updates proper XML files
        %li Formats posts/articles to required specifications
        %li Self-updating
  
  
        %h2 EXTRA CURRICULAR ACTIVITIES
      
      %p Avid gamer, love everything to do with the gaming culture. Like to write opinion and news related articles. Play squash and love to cycle.
      %h2 GRADES
      

      %table.fancy
        %tr
          %td Course Number
          %td Course Name
          %td Letter Grade
        %tr
          %td Year One
          %td
          %td
        %tr
          %td COMP 1405
          %td Introduction to Object-Oriented Programming
          %td A+
        %tr
          %td COMP 1501
          %td Introduction to Computer Game Design
          %td B+
        %tr
          %td COMP 1805
          %td Discrete Structures
          %td B
        %tr
          %td COMP 1402
          %td Introduction to Systems Programming
          %td A
        %tr
          %td COMP 1406
          %td Design and Implementation of Computer Applications
          %td A+
        %tr
          %td MATH 1007
          %td Elementary Calculus I
          %td A-
        %tr
          %td MATH 1104
          %td Linear Algebra for Engineering or Science
          %td B
        %tr
          %td LALS 1100
          %td The Mysteries of Language
          %td A-
        %tr
          %td Year Two
          %td
          %td
        %tr
          %td MATH 2107
          %td Linear Algebra II
          %td A-
        %tr
          %td ALDS 2203
          %td Linguistic Theory and Second-Language Learning
          %td A
        %tr
          %td STAT 2605
          %td Probability Models
          %td A
        %tr
          %td COMP 2402
          %td Abstract Data Types and Algorithms
          %td A+
        %tr
          %td COMP 2805
          %td Introduction to the Theory of Computation
          %td B
        %tr
          %td COMP 2501
          %td Computer Game Design and Development
          %td A+
        %tr
          %td COMP 1601
          %td Introduction to Mobile Application Development
          %td A
        %tr
          %td COMP 2404
          %td Programming in C++
          %td A
        %tr
          %td COMP 2003
          %td Computer Organization
          %td A-
        %tr
          %td COMP 2405
          %td Internet Application Programming
          %td A+    