

%h1 Nav Canada
%p At Nav Canada I am responsible for extending and maintaining the Radar Test Suite (RTWS) and other programs. Currently I am working on extending functionality and fixing issues in a program called SPLAT. (Image bellow.)

%p The suite is written in C++.
= image 'SPLAT', 'splat-1.png', 25, 'left'
= image 'SPLAT', 'splat-2.png', 25, 'left'
= image 'SPLAT', 'splat-3.png', 25, 'left'



%p I have also made a stand alone program that I use to test and debug some of the utilities in the suite.
= image 'SPLAT', 'decoder-1.png', 50




%h1 DragonWave inc.
%p ...
