/*
Awesome colours
	Bright Green: 336699
	
	Original Background: ffeedd
	Original body: 336699
	Original Blue: 3399ff
	Original Light Blue : 4499ee
	Original Red: e0110e
	
	
	
	New Background: fdf6e3
	New Body: 586e75
	New Blue: 268bd2
	New Red:dc322f
	*/


#main-container
{
	width: 768px;
	margin: 0 auto;
	border-left-style:solid ;
	padding-left: 15px;
}

body
{
	font-family: helvetica, Arial;
	font-size: %62.5;
	background-color:#fdf6e3;
	color:#586e75;
}

header
{
	width: 768px;
	margin: 0 auto;
	text-align: center;
}

footer
{
	width: 768px;
	margin: 0 auto;
}

br
{
	padding-top: 20px;
}

p.link
{
	text-align:right;
	margin-bottom:-10px;
	padding:0;
}

p.top
{
	text-align:right;
	position:relative;
	bottom: 30px;
}

p
{
	line-height:1.2em;
}

a:link {color:#dc322f;}      	/* unvisited link */
a:visited {color:#dc322f;}  	/* visited link */
a:hover {color:#268bd2;}  		/* mouse over link */
a:active {color:#268bd2;}  		/* selected link */

#title
{
	font-size: 4.6em;
	color: #001100 !important;
	text-decoration:none;
	display:inline;
}

#title a
{
	text-decoration:none;
}

#title a:link {color:#268bd2;}      	/* unvisited link */
#title a:visited {color:#268bd2;}  		/* visited link */
/*
#title a:hover {color:#cb4b16;}  		
#title a:active {color:#cb4b16;}  		
*/
	
	/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
	* 	Navigation
	* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
	#navigation
	{
		margin-right:0px;
		display:inline-block;
		position:relative;
		top:7px;
		left:32px;
	}
		#navigation table
		{
		}
			#navigation table tr
			{	
			}	
				#navigation table tr td
				{
					padding-right:57px;
					text-decoration: none;
					text-align:left;
					font-size:2.1em;
					line-height:80%;
				}
					#navigation table tr td a
					{
						text-decoration: none;
						font-weight:bold;
					}

	
p
{
	margin-bottom: 30px;
}

h1
{
	color: #657b83;
}

h1.title
{
	text-align:right; 
	font-size:3.2em;
	width:768px;
	background-color: #eee8d5;
	color: #dc322f;
	padding: 10px;
	

	border-style:solid;
	border-width:2px;
	
	-moz-border-radius: 15px;
	border-radius: 15px;
}


h2
{
	color: #268bd2;
}

h3
{
	color: #268bd2;
}


				
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* 	Resume
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.indent
{
	text-indent:2.5em;
}

#resume
{
	font-family: "Courier", Arial;
	position:relative;
	right:200px;
}

	#resume p
	{
		margin-bottom:0px;
		line-height:15px;
	}
	
	#resume h2
	{
		margin-top:40px;
	}

	#resume h3
	{
		margin-bottom:1px;
	}
	
	
/** From http://lutrov.com/ 
 */	
table.fancy {
  margin: 1em 1em 1em 0;
  background: whitesmoke;
  border-collapse: collapse;
}
table.fancy tr:hover {
   background: lightsteelblue !important;
}
table.fancy th, table.fancy td {
  border: 1px silver solid;
  padding: 0.2em;
}
table.fancy th {
  background: gainsboro;
  text-align: left;
}
table.fancy caption {
  margin-left: inherit;
  margin-right: inherit;
}

div.skills-table
{
	text-align: center;
}

table.skills-table
{
	width: inherit;
	margin-left: 25px;
}

table.skills-table tr td
{

	padding-right: 70px;
}

table.category tr td
{
	padding-right: 20px;
}

#footer
{
	text-align: center;
}
	#footer ul
	{
		margin-left: 0px;
		padding-left: 0px;
	}
	
		#footer ul li
		{
			display:inline;
			
		}
		
			#footer ul li a
			{		
				text-decoration:none;	
			}
			
				#footer ul li a h1
				{
					float:left;
					padding-right:15px;
					color:#268bd2;
				}


.clear
{
	clear:both;
}

.bold
{
	font-weight:bold;
}

.center
{
	text-align: center;
}

.italic_under
{
	font-style:italic;
	text-decoration:underline;
}


hr
{
	color: #ddd;
}

hr.thick
{
	color: #000;
	background-color: #000;
	height: 3px;
}

.cover-letter
{
	width:600px;
	background-color: #fff;
	padding: 10px;
	-moz-box-shadow: 10px 10px 5px #888;
	-webkit-box-shadow: 10px 10px 5px #888;
	box-shadow: 10px 10px 5px #888;
	-moz-border-radius: 15px;
	border-radius: 15px;
}