:markdown
  Hey Riot, I'm glad you decided to check out this page I made you. Here you'll find some supplementary information, a copy of the cover letter and just generally some more stuff on me.
  
  ## JOYBLIND
  What's JOYBLIND you ask? As I've described it here before:
  >>"JOYBLIND is a website that I started in 2009. It was in my first year of my first semester at Carleton. I got bored during the last couple of weeks and during exams so I thought I'd look into making a gaming blog so I could share my obsession with the rest of the world.
  
  >>I soon talked my friend into writing with me and we wrote into the oblivion. And then, only after two months after JOYBLIND was created we had been accepted as press/media to attend E3. We flew down to LA and reported our hearts out.
  
  >>Currently I'm taking JOYBLIND to the next level by remaking it using Ruby on Rails."
  
  At JOYBLIND we have a variety of roles, including a media producer, podcast producer and writers. JOYBLIND has been present to events like E3 and FaxExpo as media. 
  
  
  ## What is [Mindtrust](http://sprott.carleton.co/students/undergraduate/leadership-programs/mindtrust-faqs/#q1)
  Mindtrust is a program where 30 students are selected to learn important aspects of leadership. We are given the opportunity to talk to CEOs from Ottawa and learn how they operate. Each session is four long with eight sessions in total.
  
  ## What Wingman
  Wingman is a project that I'm currently working for part-time. The website built is Rails, and deployed with Capistrano. I am **not** the lead programer on this project. I oversee the process and aid in different areas.