:markdown
  How to Learn Rails
  ==================

  A couple of people have been asking my where to start with Rails. I usually say it's easy! Just learn ruby then learn rails.

  Well it's time to put my money where my mouth is. Here is a guide with some helpful resources on how to learn rails.

  ## Step 0: Tools

  ### [Sublime Text 2](http://www.sublimetext.com/2)

  I love Sublime Text 2 so much. It's the best. If you want to use a text editor (not an IDE) this is the one I highly recommend. I also bought [Chocolat](http://chocolatapp.com/) which I loved as a replacement for Textmate; however I would still recommend Sublime over it.

  If you're the IDE type then [download eclipse](http://www.eclipse.org/downloads/packages/eclipse-classic-42/junor) and get the [Aptana](http://www.aptana.com/) plugin (comes in stand alone too). 

  I've personally never used this and I'd recommend using a text editor.

  ### Install Ruby

  If you're on a Mac then you already have ruby 1.8.x! Hooraay! If you're on any other platform visit ruby's [webpage](http://www.ruby-lang.org/en/).

  I ***highly*** recommend that you use [rvm](https://rvm.io/rvm/install/) or [rbenv](https://github.com/sstephenson/rbenv) if you know what you're doing. Installing either one of those can be daunting task and is not necessary. You can install these later as well, just do it at some point.

  ## Step 1: Ruby

  You'll hear a lot of people say that you don't need to learn ruby to be able to work in Rails. This is false. Well, as a programmer I think it's better to learn the language and it's quirks before diving into a framework.

  ### [Try Ruby](http://tryruby.org/levels/1/challenges/0)

  Try ruby is a great place to start. The tutorial doesn't take long and is definitely worth doing.

  ### [Ruby Monk](http://rubymonk.com/)

  Once you've tried ruby, head on over to Ruby monk and see if you actually picked up on anything.

  ### [Project Euler](http://projecteuler.net/) (Bonus)

  If you want to truly tap into your ruby powers, a good place to do that is Project Euler. Regist for an account and do a bunch of the problems using ruby.

  ## Step 2: Rails

  ### [Rails for Zombies](http://railsforzombies.org/)

  This is a quick 'course' by the same people that made Try Ruby. It's a bit tricky, and you might be confused at some points, but it'll definitely give you an idea of what Rails is about. Do it.

  ### [Rails Tutorial by Michael Hartl](http://ruby.railstutorial.org/ruby-on-rails-tutorial-book)

  This is a great book and this is how I first go into rails. Also, the entire book is available for free!

  Once you've read the book, you're good to go! You can now do Rails.

  ## Step 3: Improving

  Coming later.



