
:markdown
  ##Reaver WPS Threat Analysis

  This is a whitepaper that I co-authored with Andrew Thompson, it looks into the Reaver WPS attack. Here's an [external](https://docs.google.com/document/pub?id=1YFCRj0F8NaykyyH-EVpa_IIdcbnnB63Mdj2i5R7uB7c) link if you don't want to read it here.

:plain
  <iframe width=790 height=660 src="https://docs.google.com/document/pub?id=1YFCRj0F8NaykyyH-EVpa_IIdcbnnB63Mdj2i5R7uB7c&amp;embedded=true"></iframe>